.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    font-size: 2rem;
    color: $firstcol;
    text-align: center;
    margin: 2rem 0;
  }

  .errors-message {
    background-color: $errorRed;
    color: $white;
    text-align: center;
    padding: 10px;
    margin-bottom: 1rem;
  }

  .c-create {
    width: 50%; // Le formulaire occupe 50% de la largeur par défaut
    padding: 2em;
    border-radius:1em;
    border: 1px solid $black; // Ajout de la bordure
    box-shadow: 0 0 10px $black; // Ajout de l'ombre

    #fieldreg {
      display: flex;
      flex-direction: column;

      label {
        color: $firstcol;
        margin-top: 1rem;
      }

      .registre {
        padding: 10px;
        margin-top: 0.5rem;
        border: 1px solid $black;
        border-radius: 5px;
        position: relative;
      }

      .error-message {
        color: $errorRed;
        margin-top: 0.5rem;
        font-size: 14px;
      }
    }

    .btnregister {
      display: block;
      width: 100%;
      background-color: $primaryBlue;
      color: $white;
      padding: 10px;
      margin-top: 1rem;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken($primaryBlue, 10%);
      }

      &[disabled] {
        cursor: not-allowed;
        background-color: $primaryBlue;
        opacity: 0.6;
      }
    }

    a {
      text-align: center;
      display: block;
      margin-top: 1rem;
      color: $firstcol;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .register {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    h2 {
      font-size: 1.5rem;
      margin-top: 4rem;
    }

    .c-create {
      width: 80%;
      margin:1em;

      #fieldreg {
        label {
          margin-top: 0.5rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.2rem;
      margin-top: 8rem;
    }

    .c-create {
              width:80%;
      #fieldreg {
        label {
          margin-top: 0.5rem;
        }
      }
    }
  }

}
