$firstcol: #161D31;
$black: #000000;
$white: #ffffff;
$primaryBlue: #007bff;
$errorRed: #ff0000;

/* Styles pour la section "À propos de nous" */
.a-propos {
    margin-top:8rem;
  margin-bottom:4rem;
  background-color: $white; // Fond de la section
  padding: 20px;
  border: 2px solid $primaryBlue; // Bordure de 2px avec la couleur primaire
  border-radius: 10px; // Bordure arrondie
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); // Ombre légère (utilisez la couleur et l'opacité souhaitées)

  h1 {
    font-size: 36px;
    color: $primaryBlue; // Couleur du titre
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: $black; // Couleur du texte
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $primaryBlue; // Couleur du lien
  }

  a:hover {
    text-decoration: underline;
  }
}

/* Media Query pour les écrans mobiles */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
