// Définition des variables de couleur
$white: #ffffff;
$black: #000000;
$primaryBlue: #007bff;
$errorRed: #ff0000;

/* Styles pour la gestion des produits */
.admin-produit {
  margin-top:8rem;
  background-color: $white; // Fond de la page
  padding: 20px;
  box-shadow: 0 0 10px $black; // Ombre légère
  border-radius: 10px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: $primaryBlue; // Couleur du titre
}

.admin-message {
  color: $errorRed; // Couleur du message d'erreur
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: $white; // Fond de la table
  box-shadow: 0 0 10px $black; // Ombre légère
  border-radius: 10px;

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    font-weight: bold;
  }

  tbody tr:hover {
    background-color: $errorRed;
  }
}

a {
  text-decoration: none;
  color: $primaryBlue; // Couleur du lien
}

a:hover {
  text-decoration: underline;
}

div {
  margin-top: 20px;
}

/* Media Query pour les écrans mobiles */
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }

  table {
    th,
    td {
      padding: 8px;
    }
  }
}
