// Définition des variables de couleur
$white: #ffffff;
$black: #000000;
$primaryBlue: #007bff;
$errorRed: #ff0000;

 #detail {
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7; /* Couleur de fond */


#detail h2 {
  margin-top: 2rem; /* Marge supérieure */
  font-size: 24px;
  color: #333; /* Couleur du titre */
}

#detail article {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff; /* Fond blanc */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

#detail article h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #161D31; /* Couleur du titre */
}

#detail article p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #333; /* Couleur du texte */
}

#detail article figure {
  margin: 0;
  text-align: center;
}

#detail article figure img {
  max-width: 100%;
  height: auto;
}

#detail a {
  display: inline-block;
  margin-top: 1rem; /* Marge supérieure */
  padding: 10px 20px;
  background-color: $primaryBlue; /* Couleur du lien */
  color: #fff; /* Couleur du texte du lien */
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

#detail a:hover {
  border:1px solid black;
  background-color: $primaryBlue; /* Couleur au survol */

}

}
