// Définition des variables de couleur
$white: #ffffff;
$black: #000000;
$primaryBlue: #007bff;
$errorRed: #ff0000;

.main-detail-product {
    padding: 20px;
    margin-top: 8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  h2 {
    font-size: 24px;
    color: $primaryBlue; /* Couleur du titre */
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacement égal entre les colonnes */
  }

  a {
    text-decoration: none;
    color: $black;
    transition: color 0.3s ease-in-out;
    width: calc(33.33% - 20px); /* Répartir les éléments en 3 colonnes avec un espace de 20px entre eux */
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $white; /* Fond blanc pour chaque produit */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */

    &:hover {
      color: $errorRed; /* Couleur au survol */
    }
  }

  
img {
      max-width: 100%;
      height: auto;
      margin-bottom: 5px; /* Réduction de l'espace entre les images à 5px */
    }

  

  h2 {
    font-size: 20px;
    margin: 0;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .message {
    color: $errorRed; /* Couleur du message d'erreur */
    font-weight: bold;
  }

  @media screen and (max-width: 991px) {
    a {
      width: calc(50% - 20px); /* Répartir les éléments en 2 colonnes sur les écrans moyens */
    }
  }

  @media screen and (max-width: 767px) {
    a {
      width: 100%; /* Afficher les éléments en une seule colonne sur les écrans étroits */
    }
  }
}
