// Définition des variables de couleur
$white: #ffffff;
$black: #000000;
$primaryBlue: #007bff;
$errorRed: #ff0000;
$btncolore:#06080e;



#detail {
  padding: 20px;
  text-align: center;

  article {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8rem;
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Alignez le contenu verticalement au centre */
    
    .titre-article {
      font-size: 24px;
      margin: 0;
      color: $black;
    }

    .left {
      flex: 1; /* Ajustez la largeur de la figure pour occuper l'espace disponible */
      text-align: left; /* Alignez l'image à gauche */
      margin-right: 20px; /* Espacement entre l'image et le texte */
      img {
        margin-top:4rem;
        max-width: 50%;
        height: auto;
      }
    }

    .right {
      flex: 1; /* Ajustez la largeur du texte pour occuper l'espace disponible */
      text-align: left; /* Alignez le texte à gauche */
      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
        color: #000000;
      }
    }
  }

  a {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px;
    background-color: #161D31;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
  }

  a:hover {
    background-color: $btncolore;
  }
}
