
/* Styles pour l'en-tête */
/* Styles pour l'en-tête */
.header {
  position: sticky; /* Rendre le header fixe */
  top: 0; /* Fixer le header en haut de la page */
  width: 100%; /* Définir la largeur à 100% pour qu'il s'étende sur toute la largeur */
  background-color: $firstcol;
  color: #fff;
  padding: 1.5rem; /* 20px en rem */

  h1 {
    font-size: 2.25rem; /* 36px en rem */
    margin: 0;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        margin-right: 1rem; /* 16px en rem (plus d'espace) */
        a {
          text-decoration: none;
          color: $white;
          font-weight: bold;
        }
      }

      /* Pour éviter la marge à droite sur le dernier élément li */
      li:last-child {
        margin-right: 0;
      }
    }
  }

  /* Masquer l'image par défaut sur les écrans non mobiles */
  img {
    display: none;
  }
}

/* Media Query pour les appareils mobiles (max-width: 767px) */
@media screen and (max-width: 396px) {
  .header {
    position: fixed; /* Rendre le header fixe */
    top: 4rem; /* Fixer le header en haut de la page */
    background-color: $firstcol;
    padding: 0.5rem; /* 10px en rem */

    h1 {
      font-size: 1.5rem; /* 24px en rem */
    }

    nav ul li {
      margin-bottom: 1rem; /* 16px en rem */
      padding: 1rem; /* 16px en rem */
    }

    /* Ajustez la largeur de la liste ul pour occuper toute la largeur de l'écran */
    nav ul {
      width: 100%;
    }
  }

  /* Afficher l'image uniquement sur les écrans mobiles */
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
