nav{
    background:blue;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    font-size: calc(0.5rem + 1.5vw);
    
}

nav ul{
     display:flex;
     justify-content:space-between;
     width: 68%;
}

#icons{
    cursor: pointer;
    display: none;
    
}

@media(max-width:650px){
    #icons{
        display: block;
    }
    
    #icons:before {
        content:"\2630 ";
    }
    
    .active #icons:before{
        content:"\2715";
    }
    
    nav ul{
        position: fixed;
        left:-100%;
        top:5%;
        flex-direction:column;
        background:blue;
        width:100%;
        text-align:center;
        transition:0.25%;
    }
    
    nav li{
        padding: 3px 0;
        background:red;
    }
    
    nav.active ul{
        left:0;
    }
}