$firstcol: #161D31;
$black: #000000;
$white: #ffffff;
$primaryBlue: #007bff;
$errorRed: #ff0000;



/* Styles pour la section de connexion */
#connect {
  background-color: $white;
  margin-top:8rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($black, 0.1);

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $primaryBlue; /* Couleur du titre */
  }

  .errors-message {
    color: $errorRed; /* Couleur du message d'erreur */
    font-weight: bold;
  }

  .connect {
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .connex {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .btnlog {
      background-color: $primaryBlue;
      color: $white;
      border: none;
      margin-top:2rem;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

/* Media Query pour les écrans mobiles */
@media screen and (max-width: 768px) {
  #connect {
    padding: 10px;

    h2 {
      font-size: 20px;
    }

    .connect {
      label {
        font-size: 16px;
      }

      .connex {
        font-size: 14px;
      }

      .btnlog {
        font-size: 16px;

      }
    }
  }
}


